@font-face {
  font-family: hackfont;
  font-weight: bold;
  src: url("fonts/hackfont.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  grid-template-columns: repeat();
  background-color: black;
  color: green;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: default;
  user-select: none;
  span {
    font-family: "hackfont";
    -moz-transform: scale(120%, 1);
    transform: scale(140%, 1);
    font-size: 30px;
  }
}
